nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
}

nav a:hover {
    background-color: #555;
}

nav ul {
    display: flex;
    list-style: none;
}